# import pandas as pd
# import numpy as np
# import tensorflow
# from sklearn
# import json
# from scipy
# import implicit

tensorflow>=2.0.0
pandas>=1.0.0
numpy>=1.18.0
scikit-learn>=0.22.0
scipy>=1.4.0
implicit>=0.3.0